.container {
    display: inline;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 0rem 1rem;
    padding: 0;
}

.audioControlButtons {
    display: flex;
    font-size: larger;
}

.audioControlButtons > div > svg {
    display: flex;
    vertical-align: middle;
}

.audioControlButton {
    margin: 0 0.2rem;
}

.volumeContainer {
    position: relative;
    display: flex;
}

.volumeSlider {
    padding-left: 0.5rem;
}

.showVolumeSlider {
    display: inline;
    position: absolute;
    left: 75%;
    top: -5%;
    animation: fadeIn 0.2s ease-in-out forwards;
}

.hideVolumeSlider {
    display: none;
    animation: fadeOut 0.2s ease-in-out forwards;
}

.activeMusic path {
    fill: url(#audioGradient);
}

.activeMusic {
  animation: pulsar 0.7s linear infinite alternate;
}

@keyframes pulsar {
  0% { 
        transform: scale(1);
        transform: rotateZ(90);
}
  100% { transform: scale(1.15); }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media (max-width: 768px) {
    .container {
        display: none;
    }
}