.container {
    display: inline;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 0rem 1rem;
    padding: 0;
}

.container button {
    border: none;
    background: none;
    font-size: 1.2rem;
}

.container button > svg {
  width: 24px;
  height: 24px;
  display: block;
  margin: auto;
}

.container button:hover {
    cursor: pointer;
}

.displayAnimation {
    cursor: default;
    animation: fadeIn 1s ease-in forwards;
}

.activeMusic path {
    fill: url(#audioGradient);
}

.activeMusic {
  animation: pulsar 0.7s linear infinite alternate;
}

@keyframes pulsar {
  0% { 
        transform: scale(1);
        transform: rotateZ(90);
}
  100% { transform: scale(1.15); }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    .container {
        display: none;
    }
}