.audioControlContainer {
    display: inline;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 0rem 1rem;
    padding: 0;
}

.audioControlButtons {
    display: flex;
    font-size: larger;
}

.audioControlButtons > div > svg {
    display: flex;
    vertical-align: middle;
}

.audioControlButton {
    margin: 0 0.2rem;
}

.volumeContainer {
    position: relative;
    display: flex;
}

.volumeSlider {
    appearance: none;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    align-items: center;
    position: absolute;
    left: 1rem;
    opacity: 0;
    padding: 0.1rem 0.5rem;
}

.fadeInVolumeSlider {
    animation: fadeIn 0.2s ease-in-out forwards;
}

.fadeOutVolumeSlider {
    animation: fadeOut 0.2s ease-in-out forwards;
}

.sliderInput {
    appearance: none;
    width: 5rem;
    height: 6px;
    margin: 0 0.2rem;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
}

.sliderInput::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 8px;
    background: var(--primary-color);
    border-radius: 5px;
}

.sliderInput::-moz-range-thumb {
    appearance: none;
    width: 10px;
    height: 6px;
    background: var(--primary-color);
    border-radius: 5px;
}

.sliderValue {
    font-size: smaller;
    user-select: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media (max-width: 768px) {
    .audioControlContainer {
        display: none;
    }
}