#profileCard {
    position: absolute;
    top: 20%;
    right: 5rem;
    text-align: center;
    vertical-align: middle;
    animation: slideInFromRight var(--slide-in-duration) ease-out forwards;
}

#profileInfo {
    margin-top: 1rem;
    animation: fadeIn var(--fade-in-duration) ease-in forwards;
    animation-delay: var(--fade-in-delay);
    opacity: 0;
}

body.no-x-scrollbar {
    overflow-x: hidden;
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}