.container {
  position: relative;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  offset-path: var(--path);
  animation: orbit 6s linear infinite;
}


@keyframes orbit {
  from { offset-distance: 0%; }
  to   { offset-distance: 100%; }
}